<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="expenses" href="/tabs/expenses">
      <ion-icon aria-hidden="true" name="card-outline"></ion-icon>
      <ion-label>Expenses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budgets" href="/tabs/budgets">
      <ion-icon aria-hidden="true" name="wallet-outline"></ion-icon>
      <ion-label>Budgets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="insights" href="/tabs/insights">
      <ion-icon aria-hidden="true" name="bar-chart-outline"></ion-icon>
      <ion-label>Insights</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>