<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Expenses</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Expenses List -->
  <ion-list>
    <ion-item *ngFor="let expense of expenses">
      <ion-label>
        <h2>{{ expense.description }}</h2>
        <p>{{ expense.category }} • {{ expense.date | date }}</p>
      </ion-label>
      <ion-note slot="end" color="primary">
        ${{ expense.amount }}
      </ion-note>
    </ion-item>
  </ion-list>

  <!-- Floating Action Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addExpense()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
